page-add-cart-success {
    ion-content.content {
        background: rgba(#000, 0.4);
    }

    ion-card.card {
        top: 25%;
        border-radius: 10px;
        position: relative;
        width: 80%;
        margin-right: auto;
        margin-left: auto;

        button.button-full.button-outline {
            border-color: color($colors, primary);
            border-radius: 64px;
            border-right-width: 1px;
            border-left-width: 1px;
    
            color: color($colors, text);
        }

        ion-card-header {
            svg.feather {
                width: 48px;
                height: 48px;
                stroke: color($colors, primary);
                margin-right: auto;
                margin-left: auto;
                display: block;
            }
        }

        ion-card-title {
            text-align: center;
        }
    }
}

ion-modal.show-page {
    div.modal-wrapper {
        box-shadow: none;
    }

    @media only screen and (min-width: 768px) and (min-height: 600px) {
        page-add-cart-success {
            ion-content.content {
                background: transparent;
            }
        }
    }   
}